{% for item in items %}

    <div class="content-background">
        <div class="content" id="#pitch1">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://picsum.photos/id/1/200" class="responsive" width="100%">
                </div>
                <div class="col-md-8">
                    <h2>{{ item.name }} </h2>

                    <p>{{ item.description }}</p>

                    <a href="{% if view is defined %}{{ path(view, {id: item.id}) }}{% else %}#{% endif %}" rel="noopener" class="btn btn--primary">Lees meer<span class="btn__icon icon icon-arr-forward" title="" role=""></span></a>
                </div>

            </div>
        </div>
    </div>

    <!-- Page Break -->
    <div style="height: 20px"></div>

{% endfor %}


