<div class="content-background">
    <div class="content">
    			<div class="edit-section">
					<h2>Organisatie</h2>
				</div>
				<ul class="definition-list">
					<li class="definition-list__item definition-list__item--horizontal">
						<div class="definition-list__title">
							Naam
						</div>
						<div class="definition-list__description">
							<p>ICTU </p>
						</div>
					</li>
					<li class="definition-list__item definition-list__item--horizontal">
						<div class="definition-list__title">
							Contact
						</div>
						<div class="definition-list__description">
							<p>info@ictu.nl </p>
						</div>
					</li>
					<li class="definition-list__item definition-list__item--horizontal">
						<div class="definition-list__title">
							Addres
						</div>
						<div class="definition-list__description">
							<p>Wilhelmina van Pruisenweg 104
							<br>2595 AN Den Haag </p>
						</div>
					</li>
				</ul>
    </div><!-- ./content -->
</div><!-- ./content-background -->
