    <nav class="top-nav" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav">
                </ul>
            </div>
        </div>

    </nav>
